<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="180px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')" class="nav-item">
                <a class="nav-link" href="/homePage">
                    <i class="fa fa-home"></i> Početna
                    <span class="sr-only"></span>
                </a>
            </li>
            <li *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')" class="nav-item">
                <a class="nav-link" href="/directMessages">
                    <i class="fa fa-envelope-o">
                        <span class="badge badge-primary">11</span>
                    </i> Poruke
                </a>
            </li>
            <li *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')" class="nav-item">
                <a class="nav-link" href="/notifications">
                    <i class="fa fa-globe">
                        <span class="badge badge-primary">11</span>
                    </i> Obaveštenja
                </a>
            </li>
            <li class="nav-item" *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')">
                <a class="nav-link" (click)="openModal(modAddPost)">
                    <i class="fa fa-photo">
                        <span class="badge badge-primary"></span>
                    </i> Dodaj objavu
                </a>
            </li>
            <li class="nav-item" *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')">
                <a class="nav-link" (click)="openModal(modAddStory)">
                    <i class="fa fa-plus-square">
                        <span class="badge badge-primary"></span>
                    </i> Dodaj pricu
                </a>
            </li>
            <li class="nav-item" *ngIf="this.authService.isLoggedIn && this.authService.getRole().includes('AGENT')">
                <a style="cursor: pointer;" class="nav-link" (click)="openModal(modAddCampaign)">
                    <i class="fa fa-cart-plus">
                        <span class="badge badge-primary"></span>
                    </i> Dodaj kampanju
                </a>
            </li>
            <li class="nav-item" *ngIf="this.authService.getRole() === 'ROLE_ADMIN'">
                <a class="nav-link" href="/verificationRequests">
                    <i class="fa fa-address-card-o ">
                        <span class="badge badge-primary"></span>
                    </i> Zahtjevi za verifikaciju
                </a>
            </li>

            <li class="nav-item" *ngIf="this.authService.getRole() === 'ROLE_ADMIN'">
                <a class="nav-link" href="/reportedPosts">
                    <i class="fa fa-ban ">
                        <span class="badge badge-primary"></span>
                    </i>Neprikladan sadržaj
                </a>
            </li>
            <li class="nav-item" *ngIf="this.authService.getRole() === 'ROLE_ADMIN'">
                <a class="nav-link" href="/agentRequests">
                    <i class="fa fa-user ">
                        <span class="badge badge-primary"></span>
                    </i>Zahtevi agenata
                </a>
            </li>
            <li class="nav-item" *ngIf="this.authService.getRole() === 'ROLE_ADMIN'">
                <a class="nav-link" href="/registration">
                    <i class="fa fa-user-plus">
                        <span class="badge badge-primary"></span>
                    </i>Registrujte agenta
                </a>
            </li>
            <li *ngIf="!this.authService.isLoggedIn" class="nav-item" style="margin-left: 550px; margin-top: 15px;">
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" style="width: 400px;" [(ngModel)]="searchParams"
                        [readonly]="this.isInputDisalbed" (focus)="onFocus()" (input)="onKeyDown()" type="text"
                        placeholder="Pretraga" aria-label="Search">
                </div>
            </li>
            <li *ngIf="this.authService.isLoggedIn" class="nav-item" style="margin-left: 200px; margin-top: 15px;">
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" style="width: 400px;" [(ngModel)]="searchParams"
                        [readonly]="this.isInputDisalbed" (focus)="onFocus()" (input)="onKeyDown()" type="text"
                        placeholder="Pretraga" aria-label="Search">
                </div>
            </li>
            <li *ngIf="!this.authService.isLoggedIn" class="nav-item" style="margin-left: 550px;">
                <a class="nav-link" href="/login">
                    <i class="fa fa-sign-in">
                    </i> Prijavite se
                </a>
            </li>
            <li *ngIf="!this.authService.isLoggedIn" class="nav-item">
                <a class="nav-link" href="/registration">
                    <i class="fa fa-user-plus">
                    </i> Registrujte se
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')" class="nav-item">
                <a class="nav-link" href="/liked">
                    <i class="fa fa-thumbs-up">
                    </i> Lajkovane objave
                </a>
            </li>
            <li *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')" class="nav-item">
                <a class="nav-link" href="/disliked">
                    <i class="fa fa-thumbs-down">
                    </i> Dislajkovane objave
                </a>
            </li>
            <li style="margin-right: 10px;" class="nav-item" *ngIf="this.authService.getRole() === 'ROLE_ADMIN'">
                <a class="nav-link" href="/login" (click)="onLogout()">
                    <i class="fa fa-sign-out ">
                        <span class="badge badge-primary"></span>
                    </i>Odjava
                </a>
            </li>
            <li *ngIf="this.authService.isLoggedIn && !this.authService.getRole().includes('ADMIN')"
                class="nav-item dropdown" style="margin-right: 50px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user">
                        <span class="badge badge-primary">11</span>
                    </i> Moj profil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="cursor: pointer;" (click)="myProfileClick()"> <i
                            class="fa fa-user"></i> Profil</a>
                    <a class="dropdown-item" href="/editProfile"> <i class="fa fa-cog"></i> Podešavanja</a>
                    <div class="dropdown-divider"> </div>
                    <a class="dropdown-item" href="/favourites"> <i class="fa fa-star"></i> Sačuvane objave</a>
                    <div class="dropdown-divider"> </div>
                    <a class="dropdown-item" href="/login" (click)="onLogout()"> <i class="fa fa-sign-out"></i> Odjava
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div *ngIf="isSearchResultVisible" class="container d-flex justify-content-center"
    style="margin-top: -30px; margin-right: 515px;">
    <div class="card mt-5 p-4">
        <p *ngIf="usernamesToShow.length == 0 && isUsersSearchSelected">Nema rezultata</p>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" (click)="setUsersSearchActive()" class="btn btn-outline-primary">Korisnici</button>
            <button type="button" (click)="setTagsSearchActive()" class="btn btn-outline-primary">Tagovi</button>
            <button type="button" (click)="setLocationsSearchActive()" class="btn btn-outline-primary">Lokacije</button>
        </div>
        <div *ngFor="let username of usernamesToShow" class="d-flex flex-row justify-content-between mb-3">
            <div class="d-flex flex-column p-3">
                <a (click)="onLinkClick(username)" style="color: black; cursor: pointer; margin-top:10px"
                    class="mb-1">{{username}}</a>
            </div>
            <div class="price pt-3 pl-3">
                <img *ngIf="isUsersSearchSelected" img class="mb-2" style="width: 40px; height: 40px;"
                    src="../../assets/images/aca.png">
                <img *ngIf="isTagsSearchSelected" img class="mb-2" style="width: 40px; height: 40px;"
                    src="../../assets/images/hashtag.png">
                <img *ngIf="isLocationsSearchSelected" img class="mb-2" style="width: 40px; height: 40px;"
                    src="../../assets/images/location.jpg">
            </div>
        </div>
    </div>
</div>

<ng-template #modAddLink let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="form-check form-switch">
        <label for="description" class="font-weight-light text-muted">Link za reklamu:</label>
        <input type="text" id="description" class="form-control border-0" name="description" [(ngModel)]="adLink"
            [ngModelOptions]="{standalone: true}">
        <button class='btn btn-outline-primary' (click)="onAddLinkClick(); modal.dismiss('close')">Dodaj link na reklamu</button>
    </div>
</ng-template>


<ng-template #modAddCampaign let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Podelite kampanju</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body overflow-auto">
        <div class="form-check form-switch">
            <label for="hashtag" class="font-weight-light text-muted">Da li je kampanja višekratna?</label>
            <label style="margin-left: 5px;" class="form-check-label" for="isMultiple">Da</label>
            <input type="checkbox" style="margin-left: 5px;" [(ngModel)]="isMultiple" id="isMultiple">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="location" class="font-weight-light text-muted">Datum početka:</label>
            <input type="date" id="location" class="form-control border-0" name="location" [(ngModel)]="startDate"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div *ngIf="isMultiple" class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="location" class="font-weight-light text-muted">Datum isticanja:</label>
            <input type="date" id="location" class="form-control border-0" name="location" [(ngModel)]="endDate"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="description" class="font-weight-light text-muted">Opis:</label>
            <input type="text" id="description" class="form-control border-0" name="description"
                [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
        </div>
        <div *ngIf="!isMultiple" class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="description" class="font-weight-light text-muted">Kada plasirati kampanju:</label>
            <input type="time" id="time" class="form-control border-0" name="time" [(ngModel)]="whenToPlace"
                [ngModelOptions]="{standalone: true}">

        </div>
        <div *ngIf="isMultiple" class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="description" class="font-weight-light text-muted">Koliko puta plasirati:</label>
            <input type="number" id="description" class="form-control border-0" name="description"
                [(ngModel)]="timesToPlace" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-check form-switch">
            <label for="description" class="font-weight-light text-muted">Ciljna grupa:</label> <br>
            <label style="margin-left: 5px;" class="form-check-label" for="males">Muškarci</label>
            <input type="checkbox" style="margin-left: 5px;" [(ngModel)]="males" id="males">
            <br>
            <label style="margin-left: 5px;" class="form-check-label" for="males">Žene</label>
            <input type="checkbox" style="margin-left: 5px;" [(ngModel)]="females" id="females">
            <br>
            <label style="margin-left: 5px;" class="form-check-label" for="under18">Mlađi od 18 godina</label>
            <input type="checkbox" style="margin-left: 5px;" [(ngModel)]="under18" id="under18">
            <br>
            <label style="margin-left: 5px;" class="form-check-label" for="between18and24">Između 18 i 24 godine</label>
            <input type="checkbox" style="margin-left: 5px;" [(ngModel)]="between18and24" id="between18and24">
            <br>
            <label style="margin-left: 5px;" class="form-check-label" for="between24and35">Između 24 i 35</label>
            <input type="checkbox" style="margin-left: 5px;" [(ngModel)]="between24and35" id="between24and35">
            <br>
            <label style="margin-left: 5px;" class="form-check-label" for="over35">Preko 35 godina</label>
            <input type="checkbox" style="margin-left: 5px;" [(ngModel)]="over35" id="over35">



        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input id="upload" class="form-control border-0" type="file" name="files" multiple
                (change)="onCampaignChange($event)">
            <div class="input-group-append">
                <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                        class="fa fa-cloud-upload mr-2 text-muted"></i><small
                        class="text-uppercase font-weight-bold text-muted">Odaberite fajl</small></label>
            </div>
        </div>
        <div *ngFor="let f of campaignFiles">{{f.name}}
            <button class='btn btn-outline-primary' (click)="openModal2(modAddLink,f)">Dodaj link</button>
        </div>
        <div class="float-right">
            <button class="btn btn-outline-dark" (click)="uploadCampaign()">Objavi</button>
        </div>
    </div>
</ng-template>


<ng-template #modAddPost let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Podelite objavu</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body overflow-auto">
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="hashtag" class="font-weight-light text-muted">Hashtag:</label>
            <input type="text" id="hashtag" class="form-control border-0" name="hashtag" [(ngModel)]="hashtag"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="location" class="font-weight-light text-muted">Lokacija:</label>
            <input type="text" id="location" class="form-control border-0" name="location" [(ngModel)]="location"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="description" class="font-weight-light text-muted">Opis:</label>
            <input type="text" id="description" class="form-control border-0" name="description"
                [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input id="upload" class="form-control border-0" type="file" name="files" multiple
                (change)="onChange($event)">
            <div class="input-group-append">
                <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                        class="fa fa-cloud-upload mr-2 text-muted"></i><small
                        class="text-uppercase font-weight-bold text-muted">Odaberite fajl</small></label>
            </div>
        </div>
        <div *ngFor="let f of files">{{f.name}}</div>
        <div class="float-right">
            <button class="btn btn-outline-dark" (click)="uploadPost()">Objavi</button>
        </div>
    </div>
</ng-template>

<ng-template #modAddStory let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Podelite pricu</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body overflow-auto">
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="hashtag" class="font-weight-light text-muted">Hashtag:</label>
            <input type="text" id="hashtag" class="form-control border-0" name="hashtag" [(ngModel)]="hashtag"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="location" class="font-weight-light text-muted">Lokacija:</label>
            <input type="text" id="location" class="form-control border-0" name="location" [(ngModel)]="location"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <label for="description" class="font-weight-light text-muted">Opis:</label>
            <input type="text" id="description" class="form-control border-0" name="description"
                [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input id="upload" class="form-control border-0" type="file" name="files" multiple
                (change)="onChange($event)">
            <div class="input-group-append">
                <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                        class="fa fa-cloud-upload mr-2 text-muted"></i><small
                        class="text-uppercase font-weight-bold text-muted">Odaberite fajl</small></label>
            </div>
        </div>
        <div *ngFor="let f of files">{{f.name}}</div>
        <div class="float-right">
            <button class="btn btn-outline-dark" (click)="uploadStory()">Objavi</button>
        </div>
    </div>
</ng-template>