<div class="container" style="margin-top: 200px">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Aktivacija naloga</h1>
                        </div>
                    </div>

                    <form action="" method="post" name="login">
                        <div class="col-md-12 text-center">
                            <button (click)="activateAccount()" class="btn btn-block mybtn btn-primary tx-tfm">
                  Aktivirajte nalog
                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>