<div class="container" style="margin-top: 200px">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Prijavite se</h1>
            </div>
          </div>

          <form action="" method="post" name="login">
            <div class="form-group">
              <label for="exampleInputEmail1">Korisničko ime</label>
              <input
                type="text"
                name="username"
                class="form-control"
                id="username"
                aria-describedby="username"
                [(ngModel)]="user.username"
                placeholder="Unesite korisničko ime"
              />
              <div
                *ngIf="!isValidUsername(user.username)"
                class="invalid-username"
              >
                <p style="color: red">Neispravno korisničko ime</p>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Lozinka</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                aria-describedby="emailHelp"
                [(ngModel)]="user.password"
                placeholder="Unesite lozinku"
              />
              <div
                *ngIf="!isValidPassword(user.password)"
                class="invalid-password"
                style="color: red"
              >
                <p style="color: red">Neispravna lozinka</p>
              </div>
            </div>
            <div class="form-group">
              <p class="text-center">
                Prijavljivanjem prihvatate naše
                <a href="#">Uslove korišćenja</a>
              </p>
            </div>
            <div class="col-md-12 text-center">
              <button
                (click)="onLogin()"
                class="btn btn-block mybtn btn-primary tx-tfm"
              >
                Prijavite se
              </button>
            </div>
            <div class="form-group">
              <p class="text-center">
                Nemate profil?
                <a href="/registration" id="signup">Registrujte se </a>
              </p>
            </div>
            <div class="form-group">
              <p class="text-center">
                <a style="color: blue; cursor: pointer;" (click) = "forgotPassword()">Zaboravili ste lozinku?</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="this.showForgotPassword" class="container" style="margin-top: 50px">
   <div class="row">
     <div class="col-md-5 mx-auto">
       <div id="first">
         <div class="myform form">
           <div class="logo mb-3">
             <div class="col-md-12 text-center">
               <h1>Zaboravljena lozinka</h1>
             </div>
           </div>
 
           <form action="" method="post" name="login">
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input
                 type="text"
                 name="username"
                 class="form-control"
                 id="username"
                 [(ngModel)]="email"
                 placeholder="Unesite email za restartovanje lozinke"
               />
              
             </div>
             <div class="col-md-12 text-center">
               <button
                 (click)="sendMail()"
                 class="btn btn-block mybtn btn-primary tx-tfm"
               >
                 Posalji mail
               </button>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
 