<section class="hero">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="text-dark font-weight-bold mt-3">
                Angažujte influensera:
            </h2>
        </div>
        <div class="row" *ngFor="let campaign of campaigns" style="margin-top: 20px;">
            <div class="col-lg-6 offset-lg-3">
                <div class="cardbox shadow-lg bg-white">
                    <div class="cardbox-heading">
                        <!--/ dropdown -->

                        <div class="media m-0">
                            <div class="d-flex mr-3">
                                <a href="/profile/{{this.campaign.userid}}"><img class="img-fluid rounded-circle" src="{{'http://localhost:8085/images/' + currentUser.system_user.picturePath}}" alt="User" /></a>
                            </div>

                            <div class="media-body">
                                <p class="m-0"><a style="color: black; cursor: pointer;" href="/profile/{{this.campaign.userid}}">{{
                                        currentUser.system_user.firstName + ' ' +
                                        currentUser.system_user.lastName }}</a></p>

                            </div>
                        </div>
                        <!--/ media -->
                    </div>
                    <!--/ cardbox-heading -->

                    <div class="cardbox-item">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let item of this.campaign.ads">
                                <div *ngIf="isImage(item.path)" class="picsum-img-wrapper">
                                    <img class="img-fluid" src="{{'http://localhost:8086/images/'+item.path}}" />
                                </div>
                                <div *ngIf="!isImage(item.path)" class="picsum-img-wrapper">
                                    <video class="active" src="{{'http://localhost:8086/images/'+item.path}}" controls></video>
                                </div>
                                <div style=" margin-top: 20px; display: flex; justify-content: flex-start;">
                                    <p>Saznajte više na: {{item.link}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>


                        <p style="margin-left: 10px; margin-top: 5px">
                            {{this.campaign.description}}
                        </p>
                    </div>
                    <!--/ cardbox-item -->
                    <div class="cardbox-base">
                        <ul class="float-right">
                            <li>
                                <a><i class="fa fa-comments"></i></a>
                            </li>
                            <li>
                                <a><em class="mr-5">{{this.campaign.comments.length}}</em></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a><i class="fa fa-thumbs-up"></i></a>
                            </li>
                            <li>
                                <a><i class="fa fa-thumbs-down"></i></a>
                            </li>
                            <li>
                                <a><span>{{this.campaign.likes.length - this.campaign.dislikes.length}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <!--/ cardbox-base -->
                    <div class="cardbox" style="height: 100px;">
                        <span class="comment-avatar float-left">
                            <a href=""><img width="50px" height="50px" style="margin-left: 20px;" class="rounded-circle"
                                    src="{{'http://localhost:8085/images/' + currentAgent.system_user.picturePath}}"
                                    alt="..." /></a>
                            <p style="margin-top: 10px; margin-left: 5px; font-weight: bold;">
                                {{currentAgent.system_user.firstName}} {{currentAgent.system_user.lastName}}
                            </p>
                        </span>

                        <div class="row d-flex justify-content-center" style="margin-top: 50px; margin-right: 30px;">
                            <button class="btn btn-success mr-3 w-55" (click)="createCampaignRequest(campaign.id)">
                                Pošalji zahtev za angažman
                            </button>
                        </div>
                        <!--/. Search -->
                    </div>
                    <!--/ cardbox-like -->
                </div>
                <!--/ cardbox -->
            </div>
            <!--/ col-lg-6 -->

        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>